.header {
    top: 0;
    left: auto;
    width: auto;
    height: 5rem;
    background-color: rgb(21, 191, 21);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  
  .main-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
  }
  
  .main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  }

  
@media (max-width: 768px) {
  .header {
    top: 0;
    left: auto;
    width: auto;
    height: 4.0rem;
    font-size: 70%;
    margin: auto;
    background-color: rgb(21, 191, 21);
    padding: 0 30%;
  }
}