.parkingPanel__mainboard-grid {
    background-color: rgb(6, 49, 49);
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    display: grid; 
    grid-template-columns: 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr;
    grid-gap: 1rem;
    padding: 0.2rem;
    
  }
  .parkingPanel__mainboard-grid.sc {
    background-color: white;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    display: block; 
    padding: 0.2rem;
    
  }
  
  .ParkingsLoading {
    text-align: center;
    color:white;
  }
  .ParkingsError {
    text-align: center;
    color:red;
  }
  
@media (max-width: 768px) {
  .parkingPanel__mainboard-grid {
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
  }
  .parkingPanel__mainboard-grid.sc {
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
  }
}