.parkingPanel__mainboard-grid {
    background-color: #00ffff;
    min-height: 15vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0.2rem;
    border: black solid 0.1rem;
  }
  .parkingPanel__mainboard-grid.sc {
    background-color: white;
    min-height: 15vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    display: block; 
    padding: 0.2rem;
    border: black solid 0.1rem;
  }  