button {
    background-color: white;
    border: black solid 0.1rem;
    padding: 0.2rem;
    color: rgb(82, 82, 142);
    text-align: center;
    clear: both;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  .tittle {
    padding:0.5rem;
    color:rgb(15, 9, 1);
    text-shadow: 2px 2px 5px blue;
  }
  