input[type="submit"] {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 5px;
    margin-top:0.2rem;
    vertical-align:top;
    border:1px solid #54A5DA;
    height:27px;
    background:#fff;
    font-size:13px;
    font-family:"Open Sans", sans-serif;
    color:#666;
    display:block;
    width:auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

label{
    vertical-align:top;
    display:block;
    padding: 0.5rem;
  }
  form{
    padding: 0.5rem;
}

button {
  margin-top: 0.5rem;
}

select {
  margin-bottom: 0.5rem;
}
 